*{
    margin: 0;
    padding: 0;
}
.container{
    background-color:bisque;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
} 

#gif{
    height: 15rem;
    margin: 2rem 0;
}
.gif-box{
   /* height: 40rem; */
   display: flex;
    justify-content: center;


}
#text{
    text-align: center;
    color: #dc2e77;
    justify-self:center;
    font-size: 3.5rem;
}
#yes{
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
    margin: 1rem;
    border-radius: 50px;
    background-color: #52b788;
    transition: all 0.2s;
}
#yes:hover{
    transform: scale(1.1);
    background-color: #75ecb4;
}
#no:hover{
    transform: scale(1.1);
    background-color: #ff5765;
}
#no{
    height: 4rem;
    width: 7rem;
    font-size: 2rem;
    margin: 1rem;
    border-radius: 50px;
    background-color:#e63946;
      transition: all 0.2s;
    /* text-decoration: line-through; */
}
.buttons{
    padding: 12px 40px;
    justify-self: center;
    margin: 1rem;
    
    
}
.out-box{
    background-color: pink;
    /* display: flex; */
    /* justify-self: center;
    align-self: center; */
    
    margin: 10rem;
    height: 80vh;
    width: 60vw;
}


.heart {
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
    z-index: 1000;
    pointer-events: none; 
}

@keyframes fall {
    to {
        transform: translateY(105vh) rotate(360deg);
    }
}

