*{
    margin: 0;
    padding: 0;
}
.container{
    background-color:bisque;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
} 

#gif{
    height: 15rem;
    margin: 1.4rem 0;

  width: 80%;
  max-width: 260px;
  height: auto;

}
.gif-box{
   height: 20rem;
   width: auto;
   
   display: flex;
    justify-content: center;


}
#text{
    text-align: center;
    color: #dc2e77;
    justify-self:center;
    font-size: 3.5rem;
  
  max-width: 90%;
  margin: auto;
  word-wrap: break-word;

}
#yes{
    height: 4rem;
    width: 8rem;
    font-size: 2rem;
    margin: 1rem;
    border-radius: 50px;
    background-color: #52b788;
    transition: all 0.2s;
}
#yes:hover{
    transform: scale(1.1);
    background-color: #75ecb4;
}
#no:hover{
    transform: scale(1.1);
    background-color: #ff5765;
}
#no{
    height: 4rem;
    width: 7rem;
    font-size: 2rem;
    margin: 1rem;
    border-radius: 50px;
    background-color:#e63946;
      transition: all 0.2s;
    /* text-decoration: line-through; */
}
.buttons{
    padding: 12px 40px;
    justify-self: center;
    margin: 1rem;
    
    
}
.out-box{
    background-color: pink;
    align-content: center; 

    margin: 10rem;
    height: 80vh;
    width: 60vw;
}


.heart {
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
    z-index: 1000;
    pointer-events: none; 
}

@keyframes fall {
    to {
        transform: translateY(105vh) rotate(360deg);
    }
}
/* //////////////////////////////////// */

@media (max-width: 768px) {

    .container {
        padding: 0;
    }

    .out-box {
        width: 90%;          
        height: auto;      
        min-height: 80vh;    
        margin: 20px auto;   
        padding: 30px 15px; 
        flex-direction: column;
        justify-content: space-around; /* Items ke beech barabar space */
    }

    #gif {
        height: 18rem;     
        width: auto;
        margin: 0;
    }

    #text {
        font-size: 4.8rem;  
        line-height: 1.1;
        text-align: center;
        margin: 10px 0;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15px;         
        padding: 0;
    }

    #yes, #no {
        height: 7rem;       
        width: 12rem;       
        font-size: 2rem;   
        margin: 0;
    }
}



